* {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--fg1);
}

:root {
  --fg1: #293845;
  --bg1: #7cecbd;
  --thirdColor: #917f51;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  background-color: var(--bg1);
  color: var(--fg1);
}

.color2 {
  background-color: var(--fg1);
  color: var(--bg1);
  height: 100vh;
}
.color2 a {
  color: var(--bg1);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
}

h3 {
  font-size: 2rem;
  writing-mode: vertical-rl;
  font-weight: 100;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 6rem;
  font-weight: 900;
  color: var(--thirdColor);
  opacity: 0.3;
  z-index: -3;
}

h6 {
  font-size: 1.5rem;
  font-weight: 800;
}

li {
  font-size: 1rem;
}

p {
  text-align: justify;
  font-weight: 400;
}

.homepage {
  height: 100vh;
}

.kyu {
  height: 70%;
}

.h500 {
  height: 500px !important;
}
.h50 {
  height: 180px;
}
.w1500 {
  width: 1500px;
}
.mt500 {
  margin-top: 500px;
}

.card-skills-title {
  writing-mode: vertical-rl;
  text-transform: uppercase;
}

.test {
  height: 1500px;
}

.outline {
  outline: var(--fg1) 1px solid;
}

/* portfolio litle line */
.br {
  position: relative;
}

.br::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 80%;
  border-right: 1px solid var(--fg1);
}

.bl {
  position: relative;
}

.bl::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 80%;
  border-left: 1px solid var(--fg1);
}
.pbr0 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  padding-right: 0;
}
.pbl0 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: auto;
  padding-left: 0;
}

.work-bg-hover {
  background-color: var(--fg1);
  color: var(--bg1);
  transition: 500ms ease-in-out;
}

.w-auto {
  width: auto;
}

.work-details {
  color: var(--bg1);
}

.nums {
  left: 25%;
  top: 0;
}

.bt-work-page {
  border-top: 1px solid var(--bg1);
}
.bb-work-page {
  border-bottom: 1px solid var(--bg1);
}
